.header-top {
  padding: 10px 0;
}

.header-social {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    margin: 0 -4px;
    li {
      font-size: 0.00001px;
      list-style: none;
      padding: 0 4px;
      line-height: 100%;
    }
  }
}

.header-address {
  @media (max-width: 991px) {
    display: none;
  }
}

.header-sitebar-wraper {
  display: flex;
  background-color: $orange;
  // padding: 15px 0;
  min-height: 60px;
  align-items: center;
}
.header-sitebar {
  &__logo {
    max-width: 186px;
    margin-right: 20px;
    min-width: 240px;
  }
  &__menu {
    display: inline-flex;
    align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    ul {
      padding: 0;
      li {
        position: relative;
        list-style: none;
        line-height: 100%;
        > ul {
          position: absolute;
          top: 100%;
          left: 15px;
          background-color: #fff;
          min-width: 220px;
          visibility: hidden;
          z-index: -999;
          opacity: 0;
          transition: margin-top 0.2s;
          margin-top: -10px;
          @media (max-width: 1199px) {
            left: 5px;
          }
          li {
            a {
              display: block;
              color: #4C4C4C;
              padding: 10px;
              border-bottom: 1px solid rgba(0,0,0,.1);
              font-size: 14px;
              &:hover {
                color: $orange;
                background: #f9f9f9;
              }
            }
          }
          ul {
            top: 0;
            left: 220px;
          }
        }
        &:hover {
          > ul {
            margin-top: 0;
            visibility: visible;
            z-index: 1;
            transition-timing-function: ease-in-out;
            opacity: 1;
          }
        }
      }
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -25px;
      > li {
        padding: 23px 25px;
        @media (max-width: 1199px) {
          padding: 20px 10px;
        }
        a {
          display: inline-flex;
          color: #fff;
          text-decoration: none;
          font-weight: 500;
          font-size: 16px;
          align-items: center;
          @media (max-width: 1199px) {
            font-size: 14px;
          }
          .toggle {
            font-size: 7px;
          }
        }
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
    .bag {
      position: relative;
      &__number {
        position: absolute;
        top: -4px;
        right: -8px;
        color: #fff;
        border: 1px solid #fff;
        background: #f00;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        line-height: 14px;
        text-align: center;
        font-size: 9px;
      }
    }
    .user-info {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.user-info {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  img {
    max-width: 30px;
    margin-right: 10px;
  }
}