.header-top {
  padding: 10px 0;
}

.header-social {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    margin: 0 -4px;
    li {
      font-size: 0.00001px;
      list-style: none;
      padding: 0 4px;
      line-height: 100%;
    }
  }
}

.header-address {
  @media (max-width: 991px) {
    display: none;
  }
}

.header-sitebar-wraper {
  display: flex;
  background-color: $orange;
  // padding: 15px 0;
  min-height: 60px;
  align-items: center;
}
.header-sitebar {
  &__logo {
    max-width: 186px;
    margin-right: 20px;
    min-width: 240px;
  }
  &__menu {
    display: inline-flex;
    align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    ul {
      padding: 0;
      li {
        position: relative;
        list-style: none;
        line-height: 100%;
        > ul {
          position: absolute;
          top: 100%;
          left: 15px;
          background-color: #fff;
          min-width: 220px;
          visibility: hidden;
          z-index: -999;
          opacity: 0;
          transition: margin-top 0.2s;
          margin-top: -10px;
          @media (max-width: 1199px) {
            left: 5px;
          }
          li {
            a {
              display: block;
              color: #4C4C4C;
              padding: 10px;
              border-bottom: 1px solid rgba(0,0,0,.1);
              font-size: 14px;
              &:hover {
                color: $orange;
                background: #f9f9f9;
              }
            }
          }
          ul {
            top: 0;
            left: 220px;
          }
        }
        &:hover {
          > ul {
            margin-top: 0;
            visibility: visible;
            z-index: 1;
            transition-timing-function: ease-in-out;
            opacity: 1;
          }
        }
      }
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -25px;
      > li {
        padding: 23px 25px;
        @media (max-width: 1199px) {
          padding: 20px 10px;
        }
        a {
          display: inline-flex;
          color: #fff;
          text-decoration: none;
          font-weight: 500;
          font-size: 16px;
          align-items: center;
          @media (max-width: 1199px) {
            font-size: 14px;
          }
          .toggle {
            font-size: 7px;
          }
        }
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
    .bag {
      position: relative;
      cursor: pointer;
      user-select: none;
      &:hover {
        .dropdown__hover {
          display: block;
          top: 100%;
          right: 0;
          padding-top: 11px;
        }
      }
      &__number {
        position: absolute;
        top: -4px;
        right: -8px;
        color: #fff;
        border: 1px solid #fff;
        background: #f00;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        line-height: 14px;
        text-align: center;
        font-size: 9px;
      }
      &__menu {
        max-width: 260px;
        padding: 0;
        width: 260px;
        padding-top: 10px;
        &__block {
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          padding: 8px;
        }
        ul {
          padding: 0;
        }
        li {
          list-style: none;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &__box {
          display: flex;
          align-items: center;
          .img {
            min-width: 64px;
            .img-background {
              padding-top: 100%;
            }
          }
          .infos {
            padding-left: 10px;
            p {
              margin: 0;
            }
            .name {
              font-size: inherit;
              line-height: 100%;
              margin-bottom: 0;
              a {
                color: #434343;
              }
            }
          }
        }
      }
    }
    .user-info {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.user-info {
  display: inline-flex;
  position: relative;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  img {
    max-width: 30px;
    margin-right: 10px;
  }
  &:hover {
    .dropdown__hover {
      display: block;
      right: 0;
      top: 100%;
      padding-top: 11px;
    }
  }
  &__menu {
    padding-top: 5px;
    min-width: 200px;
    ul {
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    }
    li {
      list-style: none;
      border-bottom: 1px solid #9C9C9C;
      a {
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        color: #434343;
        background-color: #fff;
        font-weight: 400;
        font-size: 16px;
        &:hover {
          color: $orange;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.search-block {
  background-color: #fff;
  margin-top: 10px;
  min-width: 300px;
  > input {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    border: none;
    width: 100%;
    outline: none;
  }
  > ul {
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    > li {
      padding: 0;
      list-style: none;
      padding: 5px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background: #E5F3F9;
      }
    }
  }
  .search-box {
    display: flex;
    align-items: center;
    .name {
      font-size: inherit;
      margin: 0;
      a {
        color: #434343;
        &:hover {
          color: $orange;
        }
      }
    }
    .img {
      width: 75px;
      min-width: 75px;
      .img-background {
        padding-top: 100%;
      }
    }
    .infos {
      padding-left: 10px;
      .price {
        font-size: 16px;
        color: #0070C0;
      }
      .price-old {
        font-size: 16px;
        color: #FA0000;
      }
    }
  }
}