.menu-mobile-icon {
  display: none;
  cursor: pointer;
  @media (max-width: 991px) {
    display: block;
  }
}

.menu-mobile-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  z-index: -1;
  .menu-mobile {
    position: relative;
    width: 250px;
    z-index: 6;
    background-color: #fff;
    height: 100vh;
    margin-left: -250px;
    transition: 0.3s;
    .user-info {
      display: block;
      color: #4C4C4C;
      border: 1px solid #f7f7f7;
      padding: 5px 10px;
    }
    &__logo {
      background-color: $orange;
      padding: 10px;
    }
    &__nav {
      margin: 0;
      padding: 10px;
      max-height: calc(100vh - 85px);
      overflow: hidden;
      overflow-y: auto;
      li {
        list-style: none;
        .name {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          .menu-toggle {
            cursor: pointer;
            font-size: 7px;
            width: 20px;
            height: 20px;
            min-width: 20px;
            line-height: 20px;
            text-align: center;
          }
        }
        a {
          display: block;
          color: #4C4C4C;
          text-decoration: none;
          padding: 6px 5px;
          flex: 1;
          &:hover {
            color: $orange;
          }
        }
      }
      > li {
        overflow: hidden;
        ul {
          visibility: hidden;
          padding: 0;
          padding: 0 8px;
          height: 0;
          border-radius: 5px;
          &.display {
            visibility: visible;
            height: auto;
          }
        }
      }
      > li {
        > a, > .name a {
          text-transform: uppercase;
        }
      }
      li {
        &.active {
          > a, > .name a {
            font-weight: 600;
          }
        }
      }
      > li > ul {
        background-color: rgba(195,195,195,0.10);
        > li > ul {
          background-color: rgba(195,195,195,0.11);
          > li > ul {
            background-color: rgba(195,195,195,0.12);
          }
        }
      }
    }
  }
  &.open {
    z-index: 9;
    opacity: 1;
    .menu-mobile {
      margin-left: 0;
      transition-timing-function: ease;
    }
  }
  .mask-layout {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
}