.button-comp {
  border: none;
  outline: none;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  margin: 0;
  background-color: #989898;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  &:hover {
    background-color: #FF4500;
    transition-timing-function: ease;
  }
  &:disabled {
    background-color: #6c757d!important;
    cursor: not-allowed!important;
  }
  &.orange {
    background-color: #FF4500;
  }
  &.blue {
    background-color: #0093FC;
  }
  &.full {
    width: 100%;
  }
  &.height40 {
    height: 40px;
    line-height: 40px;
  }
}