.d {
  &-flex {
    display: flex;
  }
  &-flex-wrap {
    flex-wrap: wrap;
  }
}

.justify {
  &-space-between {
    justify-content: space-between;
  }
  &-flex-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
}

.flex {
  &-auto {
    flex: auto;
  }
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
}
