.vertical-align {
  &-bottom {
    vertical-align: bottom;
  }
}

.font-weight {
  &-700 {
    font-weight: 700;
  }
}

.font-weight {
  &-500 {
    font-weight: 500;
  }
}

.text-transform {
  &-uppercase {
    text-transform: uppercase;
  }
}

.text-align {
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}

.white-space {
  &-pre {
    white-space: pre;
  }
}