.user-box {
  border: 1px solid #989898;
  padding: 30px;
  .name {
    font-size: 20px;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}